<% if !user_signed_in? %>
<div class="jumbotron">
  <h1 class="index-header">Welcome to Rocky's Corner! </h1>
  <p class="index-btn"><%= link_to "Sign Up to Write a Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  <p class="index-paragraph">find nothing but the best for your dog here</p>
</div>
<% end %>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag product.image, class: "image"), product %>
      </div>
    </div>
  <% end %>
</div>